body {
	font-family: 'Lato', sans-serif;
	color: #FFF;
}

header { 
  background: url(../img/header.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 947px;
}

header a, footer a {
	color: #FFF;
}

header a:hover, footer a:hover {
	color: #FFF;
	text-decoration: none;
	font-weight: 700;
}

header ul {
	display: inline;
}

header ul li {
	display: inline;
	margin: 1% 3%;
}

header h1 {
	margin-top: 25%;
	font-weight: 300;
	text-shadow: 0 1px #C7C7C7;
}

header p {
	text-shadow: 0 1px #C7C7C7;
}

.content p {
	color: #969da4;
}

#quote{
	color: #fe992a;
	font-style: italic;
	font-size: 20px;
}

.content h3 {
	color: #fe992a;
	margin-top: 4%;
}

.content button {
	border-style: none;
	background: #fe992a;
	height: 30px;
	width: 30px;
	font-size: 10px;
}

.content .bt2 {
	background: #ffba6e;
}

footer {
	background: #e87875;
	margin-top: 20px;
	padding: 25px 0;
}

footer ul li {
	list-style-type: none;
}