html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background: transparent;
	font-family: 'Lato', sans-serif;
}

header {
	padding-top: 100px;
}

header p {
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
	margin-top: 3%;
	text-align: center;
	color: #FFF;
}

header form {
	margin: 2.5% 0 1% 0;
}

header input {
	font-size: 17px;
	color: #a1a1a1;
	padding-left: 20px;
	width: 40%;
	height: 50px;
}

header button {
	border-radius: 50%;
	width: 59px;
	height: 59px; 
	background-color: #086cac;
	border-style: solid;
	border-color: #031c45;
	border-width: 4px;
	margin-left: -25px;
	color: #FFF;
	font-size: 21px;
}

footer img {
	padding: 2% 1%;
}

footer p {
	margin-bottom: 2%;
	color: #000b1d;
}